<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="storeDAO" class="com.testspring.daos.StoreDAOImpl">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>
	<bean id="saleDAO" class="com.testspring.daos.SaleDAOImpl">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>
	<bean id="clothDAO" class="com.testspring.daos.ClothDAOImpl">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>
	<bean id="clothAndStoreDAO" class="com.testspring.daos.ClothAndStoreDAOImpl">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>
		
	<bean id="saleService" class="com.testspring.services.SaleServiceImpl"> 
		<property name="saleDAO" ref="saleDAO"/>
		<property name="clothDAO" ref="clothDAO"/>
		<property name="storeDAO" ref="storeDAO"/>
		<property name="clothAndStoreDAO" ref="clothAndStoreDAO"/>
	</bean>

</beans>