<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="factoryDAO" class="com.testspring.daos.FactoryDAOImpl">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>
	<bean id="factoryService" class="com.testspring.services.FactoryServiceImpl"> 
		<property name="factoryDAO" ref="factoryDAO"/>
	</bean>

</beans>